.card{

    height:80vh ;
}
.card-img{
    height:80vh ;
}
.card-img-overlay{
    padding: 1rem;
    border-radius: calc(.50rem - 2px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
